@{
    ViewBag.Title = "Контакт";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Телефон</h3>
    </header>
    <p>
        <span class="label">Основной:</span>
        <span>555</span>
    </p>
    <p>
        <span class="label">Нерабочее время:</span>
        <span>555</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адрес электронной почты</h3>
    </header>
    <p>
        <span class="label">Поддержка:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Маркетинг:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">Общие вопросы:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адрес</h3>
    </header>
    <p>
        IvtLibrary, ОмГТУ<br />
        гОмск, RU 55
    </p>
</section>