@model IvtLibrary.Scale

@{
    ViewBag.Title = "Описание";
}

<h2>Описание</h2>

<fieldset>
    <legend>Масштаб</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактирование", "Edit", new { Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
