@model IvtLibrary.City

@{
    ViewBag.Title = "Города";
}

<h2>Подробности</h2>

<fieldset>
    <legend>Город</legend>

    <div class="display-label">Название города</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
