@model IvtLibrary.City

@{
    ViewBag.Title = "Города";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить этот город?</h3>
<fieldset>
    <legend>Город</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Отмена", "Index")
    </p>
}
