@model IvtLibrary.Research

@{
    ViewBag.Title = "Исследования";
}

<h2>Подробное описание</h2>

<fieldset>
    <legend>Исследование</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">Подробное описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактирование", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>