@model LibraryModel.Theme

@{
    ViewBag.Title = "Тема";
}

<h2>Подробное описание</h2>

<fieldset>
    <legend>Тема</legend>

    <div class="display-label">Название</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Подробное описание</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактирование", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
